/*TAGS*/

html{
  height: 100%;
  width: 100%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

a{
  background-color: #5AC4F7;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  width: auto;
  text-align: center;
  margin: 10px;
  color: black;
  text-decoration: none;
}

a:hover{
  background-color: #A5E1FA;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  width: auto;
  text-align: center;
  margin: 10px;
  color: black;
  text-decoration: none;
}



/*CLASSES*/

.circle{
  border-radius: 150px;
}
